/* -------------------Ketik code CSS Responsive dibawah-------------------------- */

/* Untuk Tablet */
@media (max-width: 1000px) {
  /* Awal CSS Header */

  /* Akhir CSS Header */
  /* <----------------Batas--------------------> */
  /* Awal CSS Sejarah */
  .top-wrapper h1 {
    font-size: 32px;
  }
  /* Akhir CSS Sejarah */
  /* <----------------Batas--------------------> */
  /* Awal CSS Pancasila */

  /* Akhir CSS Pancasila */
  /* <----------------Batas--------------------> */
  /* AWal CSS Tentang Kami */
  .btn-name{
    width: 50%; margin-bottom: 10px;
    flex: auto;margin:auto;
    width:50%;
    }
.tentang-kami{
    flex:auto; height:100%;max-height: 350px;
}
  /* Akhir CSS Tentang Kami */
  /* <----------------Batas--------------------> */
  /* Awal CSS Footer */

  /* Akhir CSS Footer */
}

/* Untuk Smartphone */
@media (max-width: 670px) {
  /* Awal CSS Header */
.header-right {
    display: none;
  }
.menu-icon {
    display: block;
  }
  /* Akhir CSS Header */
  /* <----------------Batas--------------------> */
  /* Awal CSS Sejarah */
  .jumbotron {
    height: 500px;
    background-position-x: 10%;
    padding: 100px 10px 50px 10px;
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .btn-detail {
    width: 100%;
    margin-top: 25px;
  }
  /* Akhir CSS Sejarah */
  /* <----------------Batas--------------------> */
  /* Awal CSS Pancasila */

  /* Akhir CSS Pancasila */
  /* <----------------Batas--------------------> */
  /* AWal CSS Tentang Kami */
    .tentang-kami{
     height: 400px;width:auto;
    }
  .tentang-kami h3{
    margin-top: 5px;margin-bottom: 5px;
  }
    .tentang-kami h4{
      margin-bottom: 5px; padding: 0;
    }
   .tentang-kami p{
    font-size: 10px;margin: 0; padding: 0;
    }
    .btn-name{
    flex: auto;margin: auto;
    width: 100%;padding-top: 5px;
    }
  /* Akhir CSS Tentang Kami */
  /* <----------------Batas--------------------> */
  /* Awal CSS Footer */

  /* Akhir CSS Footer */
}
